.img{
    width:100%;
    height: 100%;
}
.video{
    height: 500px;
    position: relative;
}
.play{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    
}
.play:hover{
    animation: border 1s infinite ease-in;
}
@keyframes border{
    0%{
        border: 5px solid rgb(238, 194, 114) ;
    }
    50%{
        border: 10px solid rgb(238, 194, 114) ;
    }
    100%{
        border: 16px solid rgb(238, 194, 114) ;
    }
}